# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist

# serverless
.serverless
.webpack

# env
.env.**/*

# prisma generated
/src/@generated
/prisma/ERD.svg